.flexing-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 90%;
}

.flexing-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 45%;
  margin-bottom: 2rem;
}

.flexing-elements > .module {
  width: 31% !important;
  height: 30rem !important;
}

.flexing-elements > .module .description {
  height: 7rem !important;
  overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
  .flexing-elements {
    flex-direction: column;
    margin-bottom: 0;
  }

  .flexing-elements > .module {
    margin-top: 1rem;
    width: 90% !important;
  }
}

@media screen and (max-width: 500px) {
  .flexing-container {
    margin-top: 20%;
  }
}
